
// Build Options
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES

// Packaging
DEFINES_MODULE = YES
INFOPLIST_FILE = $(SRCROOT)/Wire-iOS/Wire-Info.plist
PRODUCT_BUNDLE_IDENTIFIER = $(WIRE_BUNDLE_ID)
PRODUCT_NAME = Wire

// Search Paths
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Carthage/Build/iOS

// Signing
CODE_SIGN_ENTITLEMENTS = $(CODE_SIGN_ENTITLEMENTS_APP)
PROVISIONING_PROFILE_SPECIFIER = $(PROVISIONING_PROFILE_SPECIFIER_APP)

// Apple Clang - Language
GCC_PREFIX_HEADER = Wire-iOS/Wire-iOS-Prefix.pch

// Apple Clang - Language - Modules
CLANG_ENABLE_MODULES = YES

// Swift Compiler - Custom Flags

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
SWIFT_OBJC_BRIDGING_HEADER = $(TARGET_NAME)/WireBridgingHeader.h


